@charset "ISO-8859-1";

body {
	background-image: url("/imagens/planoDeFundoCinza.png");
	background-size: contain;
	
	background-color: transparent;
	background-repeat: no-repeat
}

#cssTextoPrincipal{
	font-family: fantasy;
	color: silver;
	font-size: 24px;
}